.characters {
  padding-top: 3em;

  &-intro {
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 3em 0;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    &-body {
      background-color: #fafd7cff;
      border-top: 1px solid #62a4ab;
    }
    &-title {
      color: #62a4ab;
      text-align: center;
      font-size: 1.8em;
    }
    &-text {
      color: #d15a60;
      text-align: center;
      line-height: 1.5em;
    }
  }
}
.card:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px #62a4ab;
}
.card {
  transition: 0.5s;
  border: 1px solid #62a4ab;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 576px) {
  .characters {
    padding-top: 5em;
  }
  .characters-banner {
    font-size: 1.2em;
    padding: 0.3125em 0.625em;
  }
  .characters-intro {
    font-size: 1.2em;
    margin: 1em 0;
  }
  .card {
    margin: 0 0 2em 0 !important;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .characters-cards-title {
    font-size: 1.2em;
  }
  .characters-cards-text {
    font-size: 1em;
    line-height: normal;
  }
  .characters-cards-links {
    margin-top: 1em;
  }
}
