.characters {
  padding-top: 3em;

  &-intro {
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 3em 0;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0;
    }

    &-body {
      background-color: #fafd7cff;
      border-top: 1px solid #62a4ab;
    }

    &-title {
      color: #62a4ab;
      text-align: center;
      font-size: 1.8em;
    }

    &-text {
      color: #d15a60;
      text-align: center;
      line-height: 1.5em;
    }
  }
}

.character-cards-single {
  transition: all 1s ease-in-out 0s;
  border: 1px solid #62a4ab;
  margin: 1em;
  background-color: #fafd7c;
}

.character-cards-single:hover {
  cursor: default;
  transform: rotateY(360deg);
  transition: all 1s ease-in-out 0s;
}

.card {
  border: none;
}

.paginations {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0;
}

.page-item.active .page-link {
  background-color: #62a4ab;
  border-color: #62a4ab;
}

.page-link {
  color: #7c3e1d;;
}

@media (max-width: 576px) {
  .characters {
    padding-top: 5em;
  }
  .characters-intro {
    font-size: 1.2em;
    margin: 1em 0;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .characters-cards-title {
    font-size: 1.2em;
  }
  .characters-cards-text {
    font-size: 1em;
    line-height: normal;
  }
  .characters-cards-links {
    margin-top: 1em;
  }
  .character-cards-single:hover {
    transform: none;
    transition: none;
  }
  .character-cards-single {
    transition: none;
  }
  .pagination {
    font-size: 0.8em;
  }
}
