.game {
  font-family: 'Fuzzy Bubbles', cursive;;
  text-align: center;
  padding-top: 10em;

  &-intro {
    font-size: 2em;
    margin-bottom: 1em;
  }  

  &-area {
    width: 80vw;
    height: 65vh;
    margin: auto;
    border: 2px solid #62a4ab;
    border-radius: 20px;
    background-color: #fafd7cff;
  }

  &-play {

    &-counter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;
    }

    &-lifes {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &-title {
      margin-right: 0.5em;
    }

    &-character-img {
      width: 310px;
      height: 310px;
      object-fit: contain;
      margin: auto;
      border: 5px solid #62a4ab;
      border-radius: 5px;
    }

    &-name {
      color: #62a4ab;
      font-size: 1.8em;
      margin-top: 0.5em;
      margin-bottom: 1em;
    }
  }

  &-button {

    &-dead, &-alive, &-play, &-replay {
      font-size: 1.2em;
      border-radius: 6px;
      margin: 10px;
      padding: 0.5em 3em;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
      background-image: linear-gradient(to right, #62a4ab 0%, lime 50%, #62a4ab 100%);
      transition: 0.5s;
  
      &:hover {
        background-position: right center;
      }
    }

    &-play-off {
      visibility: hidden;
    }
  }

  &-final {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    &-score {
      font-size: 2em;
      color: #62a4ab;
    }
  }

  &-rule {
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    &-desc {
      font-size: 1.5em;
      color: #62a4ab;
    }

    &-off {
      visibility: hidden;
      height: 0;
    }
  }
}

@media (max-width: 576px) {
  .game {
    padding-top: 7em;
  
    &-intro {
      font-size: 1.5em;
      margin-bottom: 1em;
    }  
  
    &-area {
      height: 70vh;
    }
  
    &-play {
  
      &-counter {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1em;
      }
  
      &-lifes {
        display: flex;
        flex-direction: row;
        align-items: center;
      }
  
      &-character-img {
        width: 165px;
        height: 165px;

        &-resp {
          width: 155px;
          height: 155px;
        }
      }
  
      &-name {
        font-size: 1.5em;
      }
    }
  
    &-final {
      height: 70vh;
      
      &-score {
        font-size: 1.8em;
        color: #62a4ab;
      }
    }
  
    &-rule {
      height: 70vh;
      
      &-desc {
        font-size: 1em;
      }
    }
  }
}
