.seasons {
  padding-top: 3em;

  &-intro {
    color: white;
    text-align: center;
    font-size: 1.5em;
    line-height: 1.8em;
    margin: 4em 0;
  }

  &-cards {
    width: 100vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-img {
      width: 100%;
      height: auto;
      object-fit: cover;
      border-radius: 0;
    }

    &-body {
      background-color: #fafd7cff;
      border-top: 1px solid #62a4ab;
    }

    &-title {
      color: #62a4ab;
      text-align: center;
      font-size: 1.8em;
      margin-bottom: 0.5em;
    }

    &-text {
      color: #d15a60;
      text-align: center;
      line-height: 1.5em;
    }
  }
}

.seasons-cards-single {
  transition: 0.5s;
  margin: 1em;
  border: 1px solid #62a4ab;
  background-color: #fafd7cff;
}

.seasons-cards-single:hover {
  transform: scale(1.1);
  box-shadow: 10px 5px 5px #62a4ab;
}

.card {
  border: none;
}

@media (max-width: 576px) {
  .seasons {
    padding-top: 5em;
  }
  .seasons-intro {
    font-size: 1em;
    margin: 1em 0;
  }
  .card-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .seasons-cards-title {
    font-size: 1.2em;
  }
  .seasons-cards-text {
    font-size: 1em;
    line-height: normal;
  }
  .seasons-cards-single {
    transition: none;
  }
  .seasons-cards-single:hover {
    transform: none;
  }
}
