.home{
  
  &-container {
    width: 97vw;
    display: flex;
    justify-content: space-between;
    font-family: 'Fuzzy Bubbles', cursive;
  }

  &-img {
    display: flex;
  }

  &-img-r {
    display: flex;
  }

  &-img-rick {
    margin-top: -8em;
    width: 25%;
    height: auto;
    object-fit: contain;
  }

  &-img-r-text {
    margin-top: 8em;
    width: 22%;
    height: 18%;
    margin-left: 3em;
    padding: 1.5em 2em 2em 2em;
    text-align: center;
    line-height: 1.5em;
    background-color: #fafd7cff;
    border-radius: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      bottom: 80px;
      left: auto;
      right: 210px;
      border-left: 10px solid transparent;
      border-right: 10px solid #fafd7cff;
      border-top: 10px solid transparent;
      border-bottom: 10px solid #fafd7cff;
    }
  }

  &-img-m {
    display: flex;
    justify-content: flex-end;
    text-align: right;
  }

  &-img-morty {
    margin-top: 28em;
    width: 20%;
    height: auto;
    object-fit: contain;
  }

  &-img-m-text {
    margin-top: 25em;
    margin-right: 2em;
    width: 25%;
    height: 18%;
    margin-left: 3em;
    padding: 1.5em 2em 2em 2em;
    text-align: center;
    line-height: 1.5em;
    background-color: #fafd7cff;
    border-radius: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      display: block;
      bottom: 30px;
      left: auto;
      right: 3px;
      border-left: 10px solid #fafd7cff;
      border-right: 10px solid transparent;
      border-top: 10px solid transparent;
      border-bottom: 10px solid #fafd7cff;
    }
  }
}

.portal {
  width: 400px;
  height: 400px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -200px;
  border-radius:50%;
  border: 1px solid lime;
  box-shadow:inset 0 0 60px yellow;
  overflow:visible;
  background-color: lime;
  animation: wobble 1s infinite linear;
}

.swirl span {
  background-color: #0a0;
  top: 10%;
  left: 15%;
  border-radius:50%;
  display:block;
  width: 45%;
  height: 15%;  
  position:absolute;
  z-index:20;
  transform:rotate(45deg);
}

.swirl span:nth-child(2) {
  top: 30%;
  left: 32%;
  width: 5%;
  height: 10%;
}

.swirl span:nth-child(3) {
  top: 40%;
  left: 40%;
  width: 5%;
  height: 10%;
}

.swish {
  top: 0;
  left: 0;
  position:absolute;
  width: 100%;
  border: 1px solid #fff;
  height: 100%;
  border-radius:50%;
  box-shadow:inset 0 0 100px lime, 0 0 2px lime;
  z-index: 10;
  animation: rotate2 15s infinite linear;
}

.swish span {
  position: absolute;
  top: 20%;
  left: 20%;
  display:block;
  width: 4%;
  height: 4%;
  background:#fff;
  border-radius: 50%;
}

.swish span:nth-child(1) {
  top: 10%;
  left:50%;
}

.swish span:nth-child(2) {
  top: 90%;
  left:30%;
}

.swish span:nth-child(3) {
  top: 10%;
  left:80%;
}
.swish span:nth-child(4) {
  top: 40%;
  left:22%;
  width: 8x;
  height:8x;
}

.swirl {
  position: absolute;
  top: 8%;
  left: 8%;
  width: 80%;
  height: 80%;
  z-index: 4;
  border-radius: 50%;
  margin:0% 0 0 0%;
  border:0;
  box-shadow:inset -20px -22px 3px lime;
  animation: rotate 15s infinite linear;
  background-color:#0a0;
  padding: 2px;
  content:".";
  color:#fff;
  font-size: 20px;
}

.swirl:after {
  position:absolute;
  content:".   .";
  font-size: 2.5em;
  display: inline-block;
  margin-top: -40px;
  color:green;
}
.swirl:before {
  content:".  .";
  font-size: 2em;
  display: inline-block;
  margin-top: -40px;
  color:white;
}

.swirl:has(.swirl) {
  animation-delay: 0.83s;
  animation-timing-function: 9.5s;
  box-shadow:inset -110px -110px 0 lime;
  border-color: green;
}
.swirl:has(.swirl):has(.swirl),.swirl:has(.swirl):has(.swirl):has(.swirl):has(.swirl) {
  animation-delay: 0.33s;
  animation-timing-function: 8.2s;
  box-shadow:inset -110px -110px 0 lime;
}
.swirl>.swirl>.swirl>.swirl>.swirl>.swirl>.swirl {
  animation-delay: 0.33s;
  animation-timing-function: 8.2s;
  box-shadow: inset -20px -20px 0 lime;
}


@keyframes rotate {
  
  0% {
    transform: rotate(90deg);
    color:#fff;
  }
  
  50% {
    color:green;
  }
  
  100% {
    transform: rotate(180deg);
    color:#fff;
  }
  
}
@keyframes rotate2 {
  
  0% {
    transform: rotate(0deg);
    color:#fff;
  }
  
  100% {
    transform: rotate(360deg);
    color:#fff;
  }
  
}

@keyframes woobbble {
  
  0% {
    width: 202px;
    height: 198px;
    margin: -98px 0 0 -102px;
    box-shadow: 0 0 10px lime;
  }
  
  50% {
    width: 198px;
    height: 202px;
    margin: -102px 0 0 -98px;
    box-shadow: 0 0 15px lime;
  }
  
  100% {
    width: 202px;
    height: 198px;
    margin: -98px 0 0 -102px;
    box-shadow: 0 0 10px lime;
  }
  
}

@media (max-width: 576px) {
  .home{

    &-container {
      width: 85vw;
    }

    &-img {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    &-img-r {
      display: flex;
      width: 100%;
      height: 35vh;
    }

    &-img-rick {
      margin-top: 6em;
      width: 50%;
      height: auto;
      object-fit: contain;
    }
  
    &-img-r-text {
      font-size: 0.6em;
      margin-top: 10em;
      width: 100%;
      height: 35%;
      margin-left: 1em;
      padding: 1.5em 2em 2em 2em;
      text-align: center;
      line-height: normal;
      background-color: #fafd7cff;
      border-radius: 100%;
      position: relative;
  
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        display: block;
        bottom: 40px;
        left: auto;
        right: 136px;
        border-left: 10px solid transparent;
        border-right: 10px solid #fafd7cff;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fafd7cff;
      }
    }

    &-img-m {
      display: flex;
      width: 100%;
      height: 35vh;
    }
  
    &-img-morty {
      margin-top: 4em;
      margin-bottom: 2em;
      width: 50%;
      height: auto;
      object-fit: contain;
    }
  
    &-img-m-text {
      font-size: 0.6em;
      margin: 5em 1em 0 0;
      width: 100%;
      height: 40%;
      padding: 1.5em 2em 2em 2em;
      text-align: center;
      background-color: #fafd7cff;
      border-radius: 100%;
      position: relative;
  
      &::before {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        display: block;
        bottom: 40px;
        left: auto;
        right: -15px;
        border-left: 10px solid #fafd7cff;
        border-right: 10px solid transparent;
        border-top: 10px solid transparent;
        border-bottom: 10px solid #fafd7cff;
      }
    }
  }

  .portal {
    width: 200px;
    height: 200px;
    margin: -100px 0 0 -100px;
  }
}
